doctype html
html(lang='ko')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/response.css')

  body
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    nav(class='navbar navbar-expand-sm bg-light justify-content-center')
      <!-- Links -->
      ul.navbar-nav
        li.nav-item
          a(class="nav-link" href="#") About Me
        li.nav-item
          a(class="nav-link" href="#") Works
        li.nav-item
          a(class="nav-link" href="#") SNS
        li.nav-item
          a(class="nav-link" href="test_scope") test_scope

    header 
    section(class='main')
      article.imgg 
        p introducing me
        h1 Hello, I’m Dooyou.
        p  I am passionate about web application development, technology, art, design and typography.
        p  I build web apps for devices, big and small. I have a hardwired desire to be better, an instinct for good design, a strong ambition to make a difference on the web, embarrassing hang-ups on semantics, and evangelistic tendencies.
      article
          img(src='http://adidas03316.cafe24.com/wp-content/uploads/2019/12/app-marketing-illustration-01-1.png')
      
script.      
  let variable = 'cake';
  let variable = 'cookie';
  document.write(`<h1>${variable}</h1>`);
         
    //- .kakaoTalk_btn
    //-   a(href='javascript:void chatChannel()')
    //-     img(src='/images/question_small_yellow_pc.png' alt='카카오톡 문의')        
  script(src='js/jQuery/jquery.js')    
  script(src='js/bootstrap/bootstrap.min.js')
  script(src='//developers.kakao.com/sdk/js/kakao.min.js')
  script(src='js/kakaoTalk.js')
  
  
    
    
    
