doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/test2.css')

  body
    header
      #navbarHeader.collapse.bg-dark
        .container
          .row
            .col-sm-8.col-md-7.py-4
              h4.text-white About
              p.text-muted I am passionate about web application development, technology and design. I have a hardwired desire to be better, an instinct for good design, a strong ambition to make a difference on the web, embarrassing hang-ups on semantics, and evangelistic tendencies.
            .col-sm-4.offset-md-1.py-4
              h4.text-white Contact
              ul.list-unstyled
                li
                  a(href='main' class="text-white") Main
                li
                  a(href='test' class="text-white") Test
                li
                  a(href='test2' class="text-white") Test2  
                li
                  a(href='http://naver.com' class="text-white") Naver
      .navbar.navbar-dark.bg-dark.shadow-sm
        .container.d-flex.justify-content-between            
          a(href="/" class="navbar-brand d-flex align-items-center")
            svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false")
              path(d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z")
              circle(cx="12" cy="13" r="4")
            strong #{title} 
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation")
             span.navbar-toggler-icon 
      #section
        block content

    footer.text-muted.bg-light
      .container
        p.float-right 
          a(href='#') Back to top
        p Album example is © Bootstrap, but please download and customize it for yourself!
        p I'm dooyou, express-generator module + bootstrap + pug 
        
    //- .kakaoTalk_btn
    //-   a(href='javascript:void chatChannel()')
    //-     img(src='/images/question_small_yellow_pc.png' alt='카카오톡 문의')        
  script(src='js/jQuery/jquery.js')    
  script(src='js/bootstrap/bootstrap.min.js')
  script(src='//developers.kakao.com/sdk/js/kakao.min.js')
  script(src='js/kakaoTalk.js')
  
  
    
    
    
