<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
          <div class="kakaoTalk_btn">
            <a href="javascript:void chatChannel()">
              <img src="https://developers.kakao.com/assets/img/about/logos/channel/consult_small_yellow_pc.png"/>
            </a>
          </div>

        <script type='text/javascript'>
          //<![CDATA[
          // 사용할 앱의 JavaScript 키를 설정해 주세요.
          Kakao.init('24e6586631b7c24ad25487bb20df04d3');
          function chatChannel() {
            Kakao.Channel.chat({
            channelPublicId: '_iClgT' // 카카오톡 채널 홈 URL에 명시된 id로 설정합니다.
            });
          }
          //]]>
          </script>

</body>
</html>
