extends layout

block content
  main(role="main")
    section.jumbotron.text-center
      .container
        h1 This is #{title} page
        div
          a(href="/") Back to Index
  .album.py-5.bg-light
    .container
      .row    
        
