/*
_______________________________________
Edited by daeyun.
@gmail.com
_______________________________________

[ v 0.01 ]
[ Last Edited 2020.2.20 ]

*/
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

header {position:sticky; top:0; z-index:1;}
footer { padding:3rem 0 ; }
footer p { margin-bottom: .25rem; }

.kakaoTalk_btn {position: sticky; display:flex; flex-flow:row-reverse; bottom:20px; margin-right:20px; z-index: 1;}
